{{ bootstrap.load_css() }}

<style>
  .custom-margin-top {
    margin-top: 80px;
  }

  .custom-margin-top-post {
     margin-top: 60px;
  }

  .custom-margin-top-table {
      margin-top: 20px;
  }

  body {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
  }

  a.title {
    font-weight: bold;
    color: black;
    text-decoration-line: none;
  }

  a.title:hover {
    text-decoration-line: underline;
  }

  .date-column {
    white-space: nowrap;
 }

  table {
    font-size: 14px;
 }
 
  .item {
    font-size: 12px;
    color: white;
    text-decoration-line: none;
 }

  .item:hover {
    color: black;
    text-decoration-line: none; 
 }
 
  .contact {
    color: white;
    font-size: 12px;
    text-align: right;
    text-decoration-line: none;
 }

  .contact:hover {
    color: black;
    text-decoration-line: none;
 }

</style>

<link rel="icon" href="./static/assets/favicon.ico" type="image/x-icon">

<!-- Nav Bar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for("home") }}">David Weatherstone</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li>
            <a class="item" href="{{ url_for("home") }}">Home</a>
          </li>
        </ul>
        <li>
          <a class="contact" href="https://github.com/davidweatherstone/Data-Analyst-Portfolio">GitHub</a>
          <a class="contact" href="https://www.linkedin.com/in/davidweatherstone">LinkedIn</a>
        </li>
      </div>
  </nav>