{% include "base.html" %}

<div class="container custom-margin-top-post">
    <div class="row justify-content-center">
    <div class="col-md-8">

<table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Libraries</th>
        <th scope="col" class="date-column">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ post["title"] }}</td>
        <td>{{ post["libraries"] }}</td>
        <td class="date-column">{{ post["date"] }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>

{% include "/content/" + post["href"] %}